BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.clearer {
	CLEAR: both; VISIBILITY: hidden
}
#header {
	POSITION: relative; HEIGHT: 68px
}
#header IMG {
	DISPLAY: block
}
#searchbar {
	RIGHT: 0px; WIDTH: 400px; POSITION: absolute; TOP: 0px; HEIGHT: 68px
}
#searchbar .transition {
	LEFT: 0px; BOTTOM: 0px; POSITION: absolute
}
#searchbar .header {
	LEFT: 100px; BOTTOM: 26px; POSITION: absolute
}
#searchbar FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 120px; PADDING-BOTTOM: 0px; MARGIN: 0px; BOTTOM: 3px; PADDING-TOP: 0px; POSITION: absolute
}
#searchbar INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 1px
}
#searchbar INPUT.button {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 0px -1px 1px; VERTICAL-ALIGN: bottom; HEIGHT: auto; BORDER-RIGHT-WIDTH: 0px
}
#headernav {
	RIGHT: 10px; POSITION: absolute; TOP: 10px
}
#headernav LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#headernav LI.first {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#leftcol {
	FLOAT: left; WIDTH: 140px
}
#leftnav {
	MARGIN-BOTTOM: 30px
}
#leftnav LI.selected {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#leftnav A.selected {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#leftnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 30px; WIDTH: 11em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#leftnav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 30px; WIDTH: 11em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#leftnav LI {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 1px; WIDTH: 155px; POSITION: relative; BORDER-RIGHT-WIDTH: 0px
}
#leftnav LI UL {
	MARGIN-TOP: -25px; Z-INDEX: 300; LEFT: -999em; MARGIN-LEFT: 100%; WIDTH: 155px; POSITION: absolute
}
#leftnav LI UL UL {
	LEFT: -999em
}
#leftnav LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 8px; WIDTH: 140px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#leftnav LI A:hover {
	LIST-STYLE-TYPE: none
}
#leftnav LI:hover UL UL {
	LEFT: -999em
}
#leftnav LI:hover UL UL UL {
	LEFT: -999em
}
#leftnav LI.sfhover UL UL {
	LEFT: -999em
}
#leftnav LI.sfhover UL UL UL {
	LEFT: -999em
}
#leftnav LI:hover UL {
	LEFT: auto; LIST-STYLE-TYPE: none
}
#leftnav LI LI:hover UL {
	LEFT: auto; LIST-STYLE-TYPE: none
}
#leftnav LI LI LI:hover UL {
	LEFT: auto; LIST-STYLE-TYPE: none
}
#leftnav LI.sfhover UL {
	LEFT: auto; LIST-STYLE-TYPE: none
}
#leftnav LI LI.sfhover UL {
	LEFT: auto; LIST-STYLE-TYPE: none
}
#leftnav LI LI LI.sfhover UL {
	LEFT: auto; LIST-STYLE-TYPE: none
}
#topnav {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 0px; HEIGHT: 2.5em; BORDER-RIGHT-WIDTH: 0px
}
#topnav UL {
	FLOAT: left; HEIGHT: 2.5em
}
#topnav LI {
	FLOAT: left; HEIGHT: 2.5em
}
#topnav A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 2.5em; PADDING-TOP: 0px
}
#topnavsep {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 0px; BORDER-BOTTOM-WIDTH: 1px; MARGIN-LEFT: 0px; WIDTH: 100%; LINE-HEIGHT: 0; HEIGHT: 2px; BORDER-RIGHT-WIDTH: 1px
}
#midcolumn {
	PADDING-LEFT: 25px; FLOAT: left; WIDTH: 60%; PADDING-TOP: 10px
}
#midcolumn LI {
	MARGIN-LEFT: 16px
}
.midlist {
	MARGIN: 10px 0px 10px 25px
}
.homeitem {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 10px 0px 10px 1%; WIDTH: 48%; BORDER-RIGHT-WIDTH: 1px
}
.homeitem H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.homeitem UL {
	MARGIN: 0px 20px
}
.homeitem LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 5px; PADDING-TOP: 2px
}
.homeitem3col {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 10px 3% 10px 1%; WIDTH: 97%; BORDER-RIGHT-WIDTH: 1px
}
.homeitem3col H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.homeitem3col H4 {
	MARGIN: 3px
}
.homeitem3col UL {
	MARGIN: 0px 20px
}
.homeitem3col LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 5px; PADDING-TOP: 2px
}
#rightcolumn {
	FLOAT: right; WIDTH: 15%; MARGIN-RIGHT: 3px; TOP: 0px
}
.sideitem {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; MARGIN: 20px 0px; BORDER-RIGHT-WIDTH: 1px
}
.sideitem H6 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.sideitem UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; MARGIN: 10px 2px 10px 10px; PADDING-TOP: 0px
}
.sideitem OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; PADDING-BOTTOM: 0px; MARGIN: 10px 2px 10px 10px; PADDING-TOP: 0px
}
.sideitem LI {
	CLEAR: both
}
.sideitem .inset {
	FLOAT: left; MARGIN-RIGHT: 3px
}
.sideitem P {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#footer {
	BORDER-TOP-WIDTH: 3px; CLEAR: both; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 0px; POSITION: relative; HEIGHT: 35px; BORDER-RIGHT-WIDTH: 0px
}
#footer P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 20px 0px 10px; PADDING-TOP: 0px
}
#footernav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px
}
#footernav LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#footernav LI.first {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.bold {
	FONT-WEIGHT: bold
}
